body {
    line-height: 1.5;

}
header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
#family {
    font-family: 'Anton', sans-serif;
    float: right;
    margin: 10px;
    box-shadow: 0 15px 15px 0 color #808080;
    border:1px solid #000;
}
header, footer {
    background-color: #008081;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
#carrie {
    font-size: 1.9rem;
    padding-left: 60px;

}
#cit {
    font-size: 1.5rem;
    border-bottom: 2px; color: black;

}
footer {
    padding: 1rem;

}