@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.3rem;
    }
    #family {
        float: right;
        box-shadow: 0 0 30px #808080;
        border: 1px solid #000;
    }
  
}