@media only screen and (min-width:0) and (max-width: 32.5em) {
    #hide { 
      display: none;
     }
    }
body {
    display: block;
	font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
    
}

/* phone or baseline views **************************/

header {
    background-color: #b4dfe5;
    color: #303c6c;
	display: flex;
	align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow:1px 1px 2px #777;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
header img {
    width: 88px;
    padding: 10px;
}
/*.grid-container {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: auto;
    justify-content: center;
    margin:10px;
    
  }
  
  .grid-item {
    font-family: 'Fjalla One', sans-serif;
    color: #303c6c;
    padding: .25em;
    background-color: #b4dfe5;
    border: 2px solid rgba(0, 0, 0, 0.8);
    overflow: hidden;
    border-radius: 5px;
  }
  
  
  picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  .gallery {
    max-width: 100%;
}*/

main {
    
    max-width: 767px;
}
footer {
    background-color: #b4dfe5;
    color: #303c6c;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
h2 {
    font-size: 2.5rem;
    padding-top: 10px;
    color: #f4976c;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;text-shadow:1px 1px 2px #000;
}
h3 {
    font-size: 1.5rem;
    margin-top: -20px;   
    color: #303c6c;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;text-shadow:1px 1px 2px gray;

}
.subhead {
    font-style: italic;
    color: #f4976c;
    margin-top: -20px;
    text-shadow:.5px .5px 1px #000; 
}
nav a:hover {
    background-color: #fbe8a6;
    color: #36454f;
}

nav {
	background-color: #303c6c;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
main {
    margin:0 auto;
    background-color: lightcyan;
  }

.responsive li {
	display: block;
}
form fieldset {
    display: block;
    font-size: 1.25rem;
    margin: 2rem 0 2rem;
    border: 1px solid gray;
    border-radius: .5rem;
    box-shadow: 0 2px 5px gray;
}
fieldset{
    padding: 0.5em 0.75em 0.75em;
}
form legend {
    color: #1f363f;
    margin: 0 1rem;
    padding: 1rem .5rem;
}
form label{
    display: block;
    padding: .5rem;
}
form input.submitBtn {
    font-size: 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #303c6c;
    color: white;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 25rem;
}
.active {
	color: #fbe8a6;
}
      
 .social {
     max-width: 50px;
     border: none;
 } 
 