body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}


/* phone or baseline views **************************/
header {
    background-color: #b4dfe5;
    color: #303c6c;
	display: flex;
	align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}


header img {
    width: 88px;
    padding: 10px;
}
footer {
    background-color: #b4dfe5;
    color: #303c6c;
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-size: smaller;
}


h1 {
	font-size: 3rem;
}
h2 {
    font-size: 3rem;
    margin: 20px;
	color: #f4976c;
}
.subhead {
    font-style: italic;
    letter-spacing: 1pt;
    margin-top: 0%;
	margin-left: 20px;
	font-size: 1rem;
    color: #f4976c; 
}
nav a:hover {
    background-color: #fbe8a6;
    color: #36454f;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
nav {
	background-color: #303c6c;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

.responsive li {
	display: block;
}
.active {
	color: #fff;
}

main section {
    font-family: 'Fjalla One', sans-serif;
    background-color: #fbe8a6;
    color: #303c6c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    border: 2px dashed grey;
  }

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
    /* Flex *********************/
    header img {
        width: 128px;
    }
		nav ul { display: flex; }
			nav ul li { flex: 1 1 100%; }
	
            nav a:hover {
                background-color: #fbe8a6;
                color: #36454f;
            }
	/* Grid *********************/
			/*nav ul { 
				display: grid;
				/* grid-template-columns: repeat(5, 1fr); */
				/*grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
			}

	/* Inline-Block             */
	
			/* nav {text-align: center;}
			nav li {display: inline-block;} */
	

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
    }
    #pics {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8rem;
    }
  
	article:nth-child(3) {
		grid-column: span 1;
    }
    
}
